*{
    font-family: 'Montserrat', sans-serif;
}

#pagebody {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('images/homepage-background-temp-only.webp')
    background-size cover;
    justify-content: center;
}

.image{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 80%; 
    justify-content: space-between;
    border-radius: 50%;
}

.side {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 80%;
    height: 150px;
    border-radius: 50%;
    justify-content: space-between;
    float: right;
}

.description {
    max-width: 400px;
    text-align: left;
}

.description p {
    margin: 5px 0 0;
    font-size: 1em;
}
